<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".md" />
      <mimeMap fileExtension=".md" mimeType="text/markdown" />
    </staticContent>
    <httpErrors errorMode="Detailed" />
  </system.webServer>

  <location path="status.json">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
          <add name="Pragma" value="no-cache" />
          <add name="Expires" value="0" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>

  <location path="HostingInstructions.md">
    <system.webServer>
      <security>
        <requestFiltering>
          <hiddenSegments>
            <add segment="HostingInstructions.md" />
          </hiddenSegments>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>

  <location path="srvr_api.py">
    <system.webServer>
      <security>
        <requestFiltering>
          <hiddenSegments>
            <add segment="srvr_api.py" />
          </hiddenSegments>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>

  <location path="srvr_api.log">
    <system.webServer>
      <security>
        <requestFiltering>
          <hiddenSegments>
            <add segment="srvr_api.log" />
          </hiddenSegments>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
